.nav {
  background-color: #bad7e9;
}

.nav-color {
  text-decoration: none;
  color: #434242 !important;
}

.jumbotron {
  padding-top: 8rem;
  background-color: #bad7e9;
}

.isiAbout p {
  font-size: 15px;
}

#project,
#contact {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.footer {
  background-color: #bad7e9;
  color: #434242;
  text-align: center;
  padding-bottom: 1.5rem;
}

.footer a {
  text-decoration: none;
  color: #434242;
  font-weight: bold;
}

.footer a:hover {
  color: #65647c;
}
